@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(20, 33, 67, 1);
    color: white;
    font-size: 18px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .btn-outline-success,
nav.navbar .btn-outline-secondary {
    color: white;
}

.name-application {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 33.33%;
    font-weight: bold;
    gap: 16px;
}

.name-application > a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 16px;
}

.name-window {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.name-help {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    gap: 16px;
}

.name-teacher {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    gap: 16px;
}

body {
    background-color: #FF3CAC;
    /*background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.superior {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 100px;
}

#btnMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18%;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    padding: 20px 20px 10px 20px;
    color: rgb(52, 140, 38);
}

.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.200);
    width: 15%;
    height: 60px;
    border-radius: 10px;
}

#txtUsuario {
    border: none;
    border-bottom: 2px solid rgb(52, 140, 38);
    background-color: transparent;
    border-radius: 0;
    color: rgb(52, 140, 38);
    margin-bottom: 10px;
    width: 80%;

    &:focus {
        box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
    }
}

.btnAcept {
    margin-top: 15px;
}