@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(20, 33, 67, 1);
    color: white;
    font-size: 18px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .btn-outline-success,
nav.navbar .btn-outline-secondary {
    color: white;
}

.name-application {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 33.33%;
    font-weight: bold;
    gap: 16px;
}

.name-window {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.name-teacher {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    gap: 16px;
}

body {
    /*background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );*/
    background-image: linear-gradient( 64.5deg,  rgb(255, 255, 255) 14.7%, rgb(255, 255, 255) 88.7% );
    background-position: center;
    background-size: 150%;
    background-attachment: fixed;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.datos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    
}

.tabla {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.300);
    width: 100%;
    height: 630px;
    border-radius: 10px;
    padding: 20px 30px;
    overflow-y: auto;
    color: white;

    
}

.materias {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    overflow-x: auto;

}

.materias::-webkit-scrollbar {
    height: 22px;
    
}

.materias::-webkit-scrollbar-track {
    background: rgba(20, 33, 67, 1); 
    border-radius: 10px;
}

.materias::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #000000;
}

.materias::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
}



.materia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: linear-gradient(155deg, rgba(43, 65, 49, 0.8), rgba(52, 140, 38, 0.8));
    /*background: linear-gradient(135deg, rgba(94, 13, 170, 0.45), rgba(5, 116, 153, 0.45));*/
    width: calc(25% - 10px);
    height: 170px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}

.tabla{
    background: linear-gradient(155deg, rgba(43, 65, 49, 0.8), rgba(52, 140, 38, 0.8));
}

#txtNombre {
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    padding: 10px 0 5px 20px;
    color: white;
}

#txtGrupo {
    font-size: 20px;
    width: 100%;
    padding: 0 0px 5px 20px;
    color: white;
}

#txtHorario {
    font-size: 20px;
    width: 100%;
    padding: 0 0px 5px 20px;
    color: white;
}

.btnMateria {
    display: flex;
    justify-content: end;
    flex-direction: row;
    width: 100%;
}

.btnSeccion2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
    padding: 0 10px 0 0;
}

thead {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    }

tbody > tr > th {
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

tbody > tr {
    border-bottom: 1px solid #e2e1dc;
    background-color: rgba(0, 0, 0, 0.300);
}

tbody :last-child{
    border-bottom: none;
}

.table-striped {
    border-radius: 10px; 
    overflow: hidden; 
}

.table-striped th, .table-striped td {
    border-bottom: 1px solid #0f0c0c;
}

.table-striped th:first-child {
    border-top-left-radius: 10px;
}

.table-striped th:last-child {
    border-top-right-radius: 10px;
}

.table-striped tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-striped tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}