@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(20, 33, 67, 1);
    color: white;
    font-size: 18px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .btn-outline-success,
nav.navbar .btn-outline-secondary {
    color: white;
}

.name-application {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 33.33%;
    font-weight: bold;
    gap: 16px;
}

.name-window {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.name-teacher {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    gap: 16px;
}

#NombreMaestro {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 875px;
    align-items: center;
}

body {
    background-color: #4158D0;
    /*background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.superior {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    height: 100px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.materia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /*background: linear-gradient(135deg, rgba(228, 113, 170, 0.2), rgba(160, 94, 223, 0.2), rgba(38, 172, 216, 0.2));*/
    background: linear-gradient(155deg, rgba(43, 65, 49, 0.8), rgba(52, 140, 38, 0.8));
    width: calc(25% - 10px);
    height: 170x;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
}

#txtNombre {
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    padding: 10px 0 5px 20px;
    color: white;
    overflow: hidden; 
    text-overflow: ellipsis;  
    white-space: nowrap;    
}

#txtGrupo,
#txtHorario {
    font-size: 20px;
    width: 100%;
    padding: 0 0px 5px 20px;
    color: white;
}

.btnSMateria {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

.btnSeccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.btnSeccion2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
}