@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

nav.navbar .navbar-nav .nav-link,
nav.navbar .btn-outline-success,
nav.navbar .btn-outline-secondary {
    color: white;
}

.name-application {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 33.33%;
    font-weight: bold;
    gap: 16px;
}

.name-application > a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 16px;
}

.name-window {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.name-teacher {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 33.33%;
    gap: 16px;
}

body {
    background-image: url(../imgs/fondo4.jpg);
    background-position: center;
    background-size: 150%;
    background-attachment: fixed;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.superior {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 100px;
}

.form {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 25px;
}

.calendario {
    display: flex;
    flex-wrap: wrap;
    background-color: hsla(0, 0%, 0%, 0.300);
    width: 75%;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;

}

.resumen {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.300);
    width: 26%;
    height: 700px;
    border-radius: 10px;
    padding: 20px;
}

.btnsRes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
}


.datos{
    display: flex;
    flex-wrap: wrap; /* Permite que los divs se ajusten en múltiples filas si es necesario */
    gap: 10px;
    padding: 10px;
    width: 100%;
    
}

.tabla {
    display: flex;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.300);
    width: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 20px 30px;
    overflow-y: auto;
    color: white;

    
}


.alumnos {
    display: flex;
    flex-direction: column;
    /*background-color: hsla(0, 0%, 0%, 0.300);*/
    width: 100%;
    height: 700px;
    border-radius: 10px;
    padding: 20px 30px;
    overflow-y: auto;
    color: white;
}

thead {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    }

tbody > tr > th {
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

tbody > tr {
    border-bottom: 1px solid #e2e1dc;
    background-color: rgba(0, 0, 0, 0.300);
}

tbody > tr > th:first-child,
tbody > tr > th:nth-child(4) {
    border-radius: 10px 0 0 10px;
}
tbody > tr > th:nth-child(3),
tbody > tr > th:last-child {
    border-radius: 0 10px 10px 0;
}



/*CALENDARIO*/

.encabezado {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    gap: 20px;
}

.encabezado > div {
    width: 50%;
}

.materia {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0 5px 20px;
    color: white;
}

#txtMateria {
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    padding: 10px 0 5px 20px;
}

#txtGrupo {
    font-size: 20px;
    width: 100%;
    padding: 0 0px 5px 20px;
}

.contenido {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    gap: 20px;
}

.contenido > div {
    width: 50%;
    border-radius: 10px;
}

.botonesCalendario {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.SubBtnCalnd {
    flex-wrap: wrap;
    display: flex;
    width: 70%;
    gap: 10px;
    justify-content: end;
}

#fecha {
    width: inherit;
}

.table-striped {
    border-radius: 10px; 
    overflow: hidden; 
}

.table-striped th, .table-striped td {
    border-bottom: 1px solid #0f0c0c;
}

.table-striped th:first-child {
    border-top-left-radius: 10px;
}

.table-striped th:last-child {
    border-top-right-radius: 10px;
}

.table-striped tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-striped tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


